
.full-width {
  width: 100%;
}

.post-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

:host {
  --mat-sys-error: #5f6368;
  --mat-sys-on-error-container: #5f6368;
}
