<div class="feed-wrapper">
  <mat-toolbar color="primary" class="mat-elevation-z4">
    <span>Social Media Feed</span>
  </mat-toolbar>

  <div class="feed-container">
    <app-create-post (postCreated)="loadFeed()"></app-create-post>

    <div *ngFor="let post of posts">
      <mat-card class="post-card mat-elevation-z2">
        <mat-card-header>
          <mat-card-subtitle> {{ post.author }}</mat-card-subtitle>
          <mat-card-title-group>{{ post.createdAt | date: 'short' }}</mat-card-title-group>
        </mat-card-header>

        <mat-card-content>
          <p>{{ post.content }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
